@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

header {
    background-color: rgb(115,115,115,255);
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 59, 63);
    height: 88vh;
    justify-content: center;
    align-items: center; 
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    width: 15vw;
    border-right: 2px solid purple;
    display: none;
}

.content{
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.submit {
    width: 10vw;
    height: 40px;
    background-color: #6c16c9;
    border: none;
    color: #ffffff;
    margin: 10px 0;
    border-radius: 20px;
    margin-right: 30px;
}

.submit:hover {
    background-color: #fff;
    border: 1px solid #4f0885;
    color: #4f0885;
    cursor: pointer;
}

header>img{
    height: 10vh;
}

.content>img{
    height: 200vh;
}

.topico{
    height: AUTO;
    border: 1px solid #cc9bea;
    width: 80vw;
    margin-top: 3vh;
    display: flex;
    margin-bottom: 2vh;
    background-color: rgb(82, 82, 82);
    color: #fff;
    box-shadow: 1px 1px 20px 20px rgb(132, 69, 161);
}

#conteudo{
    font-size: 30px;
    margin: 20px;
}

.topico1{
width: 70vw;
}

.topico2{
    display: flex;
    flex-direction: column;
}

.cima{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12vh;
    margin-top: 2vh;
}

.conteudo{
    margin: 3%;
    font-size: 250%;
    word-break: break-word;
}

.nome{
    margin: 1%;
    font-size: 150%;
}

.data{
    margin: 1%;
    font-size: 150%;

}

.like{
    height: 4vh;
}

.coment{
    height: 4vh;
}

.baixo>button:hover {
        background-color: #6c16c9;
        border:none;
        color: #ffffff;
        cursor: pointer;
}
.baixo>button{
width: 5vw;
height: 20px;
background-color: rgb(126, 126, 126);
border:  1px solid #4f0885;
color: #4f0885;
border-radius: 20px;
margin-bottom: 10px;
margin-left: 10px;
}

.baixo{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    margin-right: 1vw;
    
}


.pesquisa{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    width: 39vw;
    background-color: #fff;
    height: 3vh;
    border-radius: 30px;
}
input {
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
}

i{
    margin-left: 1vw;
}

.add{
    margin-top: 40%;
    margin-left: 94%;
    position: absolute;
}

.add>button{
border-radius: 100%;
height: 6vh;
width: 3vw;
font-size: 5vh;
background-color: #fff;
color: #4f0885;
font-weight:bolder;
display: flex;
justify-content: center;
align-items: center;
}

.modal{
    height:80vh;
    width: 70vw;
    background-color: #4c4e4f;
    position: absolute;
    display: none;
    box-shadow: 1px 1px 20px 20px rgb(132, 69, 161);
}

.voltar {
   height:  3vh;
   filter: invert(1);
   margin:3vh;
}

#backgroundComent{
    height: 60vh;
    width: 30vw;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
}

#comentariozinho{
    display:flex;
    margin-top: 48vh;
    position: absolute;
    width:30vw;
    border-radius: 0px;
    background-color:grey;
    color:white;
}

#resp{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    font-size: 30px;
    margin: 0 20px 0 20px;
}

#subresp{
    display: flex;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    color: white;
    margin: 0 20px 0 20px;
}

.model{
    display: none;
    visibility: hidden;
}

#subcategoria{
height: 3vh;
width: 10vw;
margin-top: 400px;
position: absolute;
margin-left: 20vw;
background-color:gray;
color: white
}

#categoria{
height: 3vh;
width: 10vw;
margin-top: 400px;
position: absolute;
margin-left: 6vw;
background-color:gray;
color: white
}

#conteudo{
    height: 25vh;
    width: 60vw;
    margin-top:100px;
    background-color:gray;
    color: white
}

#conteudo::placeholder{
    color: white
}

#Enviar{
        height: 3vh;
        background-color: #350c5e;
        height: 4vh;
        width: 10vw;
        margin-top: 70vh;
        border-radius:20px;
        color:white;
        margin-left: 30vw;
        position: absolute;
        font-size: 2vh;
        border:none;


    }

    .sair{
        background-color:#350c5e00;
        border: none;
        color: white;
        font-size:20px;
    }